on: push
name: Build and deploy
jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@v0
        env:
          PAGES_BRANCH: gh-pages
